<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <p>This website uses two method of face recognition: Haar Cascades and MTCNN (Multi-task Cascaded Concolutional Neural Networks)!</p>

        <br>
        <p>
            <b>[Haar Cascades]</b> This method bla.
        </p>

        <br>
        <p>
            <b>[MTCNN]</b> This method bla.
        </p>

        <br>
        <p id="smallMessage">Click <a href="{{ url_for('index') }}">here</a> to go back!</p>
    </div>
</body>
</html>